<div class="header_top">
		<div class="container">
			<div class="logo_area">
				<a class="main_logo_top" href="index.html"><img src="assets/images/logo.png"></a>
				<a class="mobile_logo" href="index.html"><img src="assets/images/logo2.png"></a>
			</div>
		</div>
	</div>
	<section class="login_sec">
	<div class="container">
		<div class="col-md-4 offset-md-2 col-sm-6">
			<div class="heading_wrap">
				<h3>Forgot Your Password?</h3>
				<p>Enter your email to retrieve your password</p>
			</div>
			<div class="form_wrap">
				 <form>
					  <div class="form-group">
					    <label for="email">Email Address</label>
					    <input type="email" class="form-control" placeholder="Enter your email address">
					  </div>
					  <a class="blue_btn" href="#">Submit</a>
				</form> 
			</div>
		</div>
	</div>
</section>	
<footer class="login_footer">
		<div class="container">
			<div class="text-center">
				<p>Use of this website constitutes acceptance of the <span><a href="#">Terms and Conditions</a></span> and <span><a href="#">Privacy Policy</a></span>.</p>
				<p>©2012-Present scrimmagematch.com, Inc. All rights reserved.</p>
			</div>
		</div>
	</footer> 